// mein colors 
$black:#212529;
$blue:#0466c8;
$white:#edf6f9;
$orange:#ee9b00;
$red:#ae2012;


footer{
    margin-top: 15px;
    color: $white;
    background-color:$blue ;
    font-size: 1.125em;
    ul{
        list-style: none;
    }
    .title-footer{
        font-size: 1.1875em;
    }
    .footer-aling{
            display: flex;
            flex-flow:row wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
    }
    .date{
        font-size: 1.125em;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        grid-area: date;
    }
}