



$black:#212529;
$gray:#343a40;
$blue:#0466c8;
$white:#edf6f9;
$orange:#ee9b00;
$red:#ae2012;
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
nav{
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
    background-color: $blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    width: 100%;
    position: fixed;
    height: 6.25em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-transform: uppercase;
    z-index: 3;
    .btn-on{
     color: $white;
    font-size: 1.375em;  
    display: none; 
    @media (max-width:700px) {
        display: block;
    }
    }
    .logo{
        color: $white;
        border: 1px solid $white;
        padding: 10px;
        font-family: 'dashause';
    }

    ul{
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        
        @media (max-width:700px) {
            width: 100%;
            background-color:$blue;
            position: fixed;
            border-top: 1px solid rgba(186, 186, 192, 0.6);
            top: 6.25em;
            height:300px ;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-line-pack: center;
                align-content: center;
            -webkit-transition: .6s ease-in all;
            -o-transition: .6s ease-in all;
            transition: .6s ease-in all;
            left: 100%;
             &.active{left: 0;
            -webkit-animation: move 2s ;
                    animation: move 2s ;
            }
            @-webkit-keyframes move {
                0%{
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                }
                20%{
                    -webkit-transform: translateX(50%);
                            transform: translateX(50%);
                }
                
            }
            @keyframes move {
                0%{
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                }
                20%{
                    -webkit-transform: translateX(50%);
                            transform: translateX(50%);
                }
                
            }
            }
       
        a{
            padding: 10px;
            border-radius: 5px;
            color: $white;
            -webkit-transition: .8s ease-in;
            -o-transition: .8s ease-in;
            transition: .8s ease-in;
            &:hover{
                background-color: $white;
                color: $black;
            }
        }
    }
}



// efecto 
.headroom{
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
}
.headroom--pinned{
	-webkit-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	        transform: translateY(0%);
}
.headroom--unpinned{
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
}
@font-face {
    font-family: 'dashause';
    src: url('dashause.ttf');
}