// per body 
@import 'normalize';
@import 'header';
@import 'footer';



// mein colors 
$black:#212529;
$gray:#343a40;
$blue:#0466c8;
$white:#edf6f9;
$orange:#ee9b00;
$red:#ae2012;

body{
    background-color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    &::-webkit-scrollbar{
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb{
        width: 7px;
        background-color:$blue ;
        border-radius: 1.5625em;
    }
}

a{
    text-decoration: none;
    color: $white;
}

    
   hr{
       background-color: $black;
       height: 5px;
       margin-bottom: 8px;
   }
header{
    width: 90%;
    margin: 0 auto;

}

h1{
    color: $black;
}

.container-total{
    width: 90%;
    margin: 0 auto;
    color: $white;
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 10px;
    grid-template-areas: 
    'parrafo parrafo parrafo parrafo'
    'img img img aside'
    'widget widget widget aside'
    'widget2 widget3 widget3 aside'
    ;
    @mixin border-radius {
        font-family: 'Roboto', sans-serif;
        border-radius: 20px;
        padding: .75em;
        color: $gray;
        box-shadow: 2px 2px 10px rgba(0,0,0,.3);
        ul{
            list-style: none;
        }
        @media (max-width:800px) {
           img{
            width: 100%;
            height: auto;
            }
        }
        @media (max-width:600px) {
            img{
            width: 100%;
            height: auto;
            }
        }
    }
    
    .contente-p{
        grid-area: parrafo;
        padding: .75em;
        @include border-radius();
        a{
            color: $blue;
            text-decoration:underline;
        }
    }
    .content-img{
        @include border-radius();   
        grid-area: img;
    }
    .widget-1{
        @include border-radius();   
        grid-area:widget ;
    }
    .widget-2{
        @include border-radius();   
        grid-area:widget2 ;
    }
    .widget-3{
        @include border-radius();   
        grid-area:widget3 ;
    }
    .aside{
        @include border-radius();   
        grid-area: aside;
    }
}



//Pantallas pequeñas (móviles en landscape de menos de 768px)
@media (max-width: 767.98px) { 
    body{
        font-size: 12px;
    }
    .container-total{
        grid-template-areas: 
    'parrafo parrafo parrafo aside'
    'img      img     img       aside'
    'widget  widget  widget      aside'
    'widget2  widget2  widget2      aside'
    'widget3  widget3  widget3      aside'
    ;
    }
}

//Pantallas muy pequeñas (móviles en portrait de menos de 576px)
@media (max-width: 575.98px) { 
    body{
        font-size: 12px;
    }
    .container-total{
        grid-template-areas: 
    'parrafo parrafo parrafo parrafo'
    'img img img img'
    'aside aside aside aside'
    'widget widget widget widget'
    'widget2 widget2 widget2 widget2'
    'widget3 widget3 widget3 widget3'
    ;
    }

 }
